/* WHITE / BLACK */

$white-basic: #ffffff;
$black-basic: #000000;

/* GREY */

$grey-basic: #edeff6;
$grey-special: #444444;
$grey-dropdown: #e2e5f2;
$grey-tariffe: #e6e8f1;
$grey-light: #dfe3f0;
$grey-dark: #d4d9eb;
$grey: #cccccc;

/* BLUE */

$blue-light: #1d2e5b;
$blue-dark: #182044;
$blue-dark-main: #192144;
$blue-dark-deep: #161c35;
$blue-btn: #1d2e5b;
$blue-bg: #121936;

/* YELLOW / ORANGE */

$yellow-basic: #ffd74b;
$yellow-dark: #ffa530;
$orange-special: #ffbd30;
$orange-dark: #ff8d30;
$orange-deep-dark: #f26926;

/* VIEWPORTS */

$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dppx: 2dppx;
