/* WHITE / BLACK */

$white-basic: #ffffff;
$black-basic: #000000;

/* GREY */

$grey-basic: #edeff6;
$grey-special: #444444;
$grey-dropdown: #e2e5f2;
$grey-tariffe: #e6e8f1;
$grey-light: #dfe3f0;
$grey-dark: #d4d9eb;
$grey: #cccccc;
$grey-border: #e1e3e9;
$grey-btn: #f3f4f8;
$grey-alphabet: #cbced9;
$grey-button: #d6daed;
$grey-button-hover: #c8cee8;
$grey-border-hover: #959bb2;
$grey-textarea-hover: #aeb4cb;
$grey-calendar: #d6d9e6;

/* BLUE */

$blue-light: #1d2e5b;
$blue-dark: #182044;
$blue-dark-main: #192144;
$blue-dark-deep: #161c35;
$blue-btn: #1d2e5b;
$blue-bg: #121936;
$blue-decor: #141b3b;
$blue-link: #132576;
$blue-tooltip: #101d41;
$blue-hover: #d1d7e9;

/* YELLOW / ORANGE / RED / GREEN */

$yellow-basic: #ffd74b;
$yellow-dark: #ffa530;
$orange-special: #ffbd30;
$orange-dark: #ff8d30;
$orange-deep-dark: #f26926;
$orange-border: #f3c72b;
$red: #f97676;
$red-heart: #f02323;
$red-calendar: #ff5c23;
$red-heart-hover: #f9d8d8;
$pink: #f9eaea;
$green: #81e31e;

/* VIEWPORTS */

$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
