.add-plan {
  position: relative;
  margin-top: -30px;
  z-index: 10;
}

.add-plan__container {
  @include border-radius-top;
  padding: 30px 25px 100px;
  background-color: $grey-dark;
}

.add-plan__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-plan__submit {
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .add-plan__container {
    padding: 52px 75px 100px;
  }

  .add-plan__header {
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    margin-top: -41px;
  }

  .add-plan__container {
    padding: 52px 60px 100px;
  }

  .add-plan__header {
    padding: 0 69px;
  }
}
