.blockquote {
  margin: 0;
  padding: 45px 90px 57px 25px;
}

.blockquote__text {
  margin: 0;
  margin-bottom: 20px;
  color: $white-basic;
}

.blockquote__author {
  font-weight: 700;
  font-style: normal;
  color: $white-basic;
}
