.calendar-slider {
  position: relative;
  overflow: hidden;
}

.calendar-slider__list {
  @include reset-list;
  margin-bottom: 22px;
  display: flex;
  transition: 0.3s;
}

.calendar-slider__item {
  min-width: 100%;
  padding: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: $blue-light;
  text-align: center;
  border-top: 1px solid $grey-calendar;
  border-bottom: 1px solid $grey-calendar;
}

.calendar-slider__button {
  position: absolute;
  top: 12px;
  width: 14px;
  height: 21px;
  background-color: transparent;
  opacity: 0.3;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }

  &--prev {
    left: 0;
    background-image: url("../img/arrow-prev-slider.svg");
  }

  &--next {
    right: 0;
    background-image: url("../img/arrow-next-slider.svg");
  }
}

@media (min-width: $tablet-width) {
  .calendar-slider__list {
    margin-bottom: 38px;
  }

  .calendar-slider__item {
    padding: 25px;
    font-size: 36px;
  }

  .calendar-slider__button {
    top: 25px;
    width: 30px;
    height: 36px;

    &--prev {
      left: 20px;
    }

    &--next {
      right: 6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .calendar-slider__list {
    margin-bottom: 18px;
  }

  .calendar-slider__item {
    padding: 28px 0 21px;
  }

  .calendar-slider__button {
    top: 30px;
    width: 16px;
    height: 28px;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
