.calendar-week__day {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: $grey-special;
  text-align: center;

  &--week-end {
    color: $red-calendar;
  }
}

.calendar-week__day-desk {
  display: none;
}

@media (min-width: $tablet-width) {
  .calendar-week__day {
    font-size: 18px;
    line-height: 1;
  }

  .calendar-week__day-desk {
    display: block;
  }

  .calendar-week__day-mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .calendar-week__day {
    padding-left: 16px;
    text-align: left;
  }
}
