.calendar-day {
  height: 31px;
}

.calendar-day__label {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calendar-day__date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: $blue-light;
  background-color: $grey-basic;
}

.calendar-day__date em {
  display: none;
}

.calendar-day__input:disabled + .calendar-day__date {
  font-weight: 400;
  color: rgba($black-basic, 0.3);
  background-color: $white-basic;
  cursor: auto;
}

.calendar-day__input:checked + .calendar-day__date {
  font-weight: 500;
  color: $white-basic;
  background-color: $blue-light;
}

.calendar-day__input:not(:disabled):hover + .calendar-day__date,
.calendar-day__input:not(:disabled):focus + .calendar-day__date {
  outline: 2px solid $red-calendar;
  z-index: 10;
}

@media (min-width: $tablet-width) {
  .calendar-day {
    height: 69px;
  }

  .calendar-day__date {
    font-size: 20px;
    line-height: 1;
  }

  .calendar-day__input:not(:disabled):hover + .calendar-day__date,
  .calendar-day__input:not(:disabled):focus + .calendar-day__date {
    outline: 3px solid $red-calendar;
  }
}

@media (min-width: $desktop-width) {
  .calendar-day {
    height: 71px;
  }

  .calendar-day__date em {
    display: block;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.04em;
  }

  .calendar-day__date {
    padding: 14px 0 0 16px;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 400;
    font-size: 18px;

    &--check {
      display: flex;
      flex-direction: column;

      em {
        margin-top: 8px;
        letter-spacing: normal;
      }
    }

    &--first-day {
      em {
        margin-left: 5px;
      }
    }
  }
}
