.country {
  @include reset-list;
}

.country__item {
  margin-bottom: 11px;
  border-radius: 10px;
  overflow: hidden;
}

.country__image {
  overflow: hidden;
}

.country__image img {
  width: 100%;
  height: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.country__info {
  position: relative;
  margin-top: -11px;
  padding: 25px 24px 20px;
  display: flex;
  justify-content: space-between;
  background-color: $white-basic;
  border-radius: 10px;
  z-index: 10;

  &::after {
    position: absolute;
    top: -12px;
    left: 25px;
    width: 35px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
  }

  &--thailand {
    &::after {
      background-image: url("../img/flag-svg/thailand.svg");
    }
  }

  &--france {
    &::after {
      background-image: url("../img/flag-svg/france.svg");
    }
  }

  &--czech {
    &::after {
      background-image: url("../img/flag-svg/czech.svg");
    }
  }
}

.country__title {
  margin: 0;
}

.country__title a {
  font-weight: 700;
  font-size: 21px;
  line-height: 1;
  color: $black-basic;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.country__slogan {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  opacity: 0.3;
}

.country__likes {
  padding-top: 5px;
  padding-left: 18px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: $blue-dark-deep;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0 5px;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .country {
    position: relative;

    &::after {
      position: absolute;
      top: -39px;
      left: -35px;
      width: 141px;
      height: 141px;
      background-color: $grey-dropdown;
      border-radius: 20px;
      content: "";
    }
  }

  .country__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 20px;
  }

  .country__image img {
    width: 281px;
    object-fit: cover;
    object-position: right;
    border-radius: 0 20px 20px 0;
  }

  .country__info {
    width: 100%;
    margin: 0;
    padding: 30px 30px 18px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;

    &::after {
      top: 14px;
      left: unset;
      right: -9%;
      width: 70px;
      height: 47px;
    }
  }

  .country__title a {
    font-size: 24px;
  }

  .country__slogan {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .country__likes {
    padding-left: 30px;
    font-size: 20px;
    background-size: 18px 20px;
    background-position: 0 5px;
  }
}

@media (min-width: $desktop-width) {
  .country {
    &::after {
      position: absolute;
      top: -70px;
      left: -70px;
    }
  }

  .country__item {
    width: 560px;
  }

  .country__item:last-child {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-image: url("../img/fade.png");
      background-repeat: no-repeat;
      content: "";
      z-index: 20;
    }
  }

  .country__info {
    width: 100%;
    margin: 0;
    padding: 26px 0 22px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;

    &::after {
      top: 24px;
      width: 70px;
      height: 47px;
    }
  }

  .country__likes {
    background-size: 24px 24px;
  }
}
