.fellow-travelers {
  position: relative;
  margin-top: -60px;
  z-index: -1;
}

.fellow-travelers__container {
  @include border-radius-bottom;
  padding-top: 200px;
  background-color: $blue-dark-main;
}

.fellow-travelers__text {
  color: $white-basic;
}

.fellow-travelers__slogan {
  font-weight: 700;
  color: $white-basic;
}

.fellow-travelers__list {
  @include reset-list;
}
