.header {
  padding-top: 27px;
  padding-bottom: 31px;
  background-color: $white-basic;

  &--js {
    background-color: $blue-dark-deep;
  }
}

.header--js .header__navigation {
  display: none;
}

.header--js .logo__link--header svg {
  fill: $white-basic;
}

.header__container {
  position: relative;
}

.header__navigation {
  position: relative;
  padding: 67px 0 10px 0;
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .header__navigation {
    padding: 97px 57px 45px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: $blue-dark-deep;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header--js .header__navigation {
    padding: 0;
    display: block;
  }
}
