.header {
  width: 100%;
  max-width: 1440px;
  background-color: $white-basic;
}

.header--js {
  background-color: $blue-dark-deep;
}

.header--js .menu-toggle {
  display: block;
}

.header--scroll {
  position: fixed;
  background-color: $white-basic;
  transition: all 0.7s ease;
  z-index: 60;
}

.header__container {
  position: relative;
  padding-top: 73px;
  z-index: 30;
}

.header__navigation {
  position: relative;
  width: 100%;
  padding: 44px 25px 39px 25px;
  background-color: $white-basic;
}

.header--js .header__navigation {
  position: absolute;
}

.header__navigation--closed {
  display: none;
}

// .header--js .navigation__auth-link,
// .header--js .main-menu,
// .header--js .user-menu,
// .header--js .social {
//   display: none;
// }

.header--opened {
  background-color: $white-basic;
}

.header--js .logo__link--header svg {
  fill: $white-basic;
}

.header--opened .logo__link--header svg {
  fill: $blue-dark-main;
}

.header--opened .logo {
  top: 27px;
}

.header--scroll .logo__link--header svg {
  fill: $blue-dark-main;
}

@media (min-width: $tablet-width) {
  .header__navigation--closed {
    display: block;
    padding: 0;
  }

  .header__navigation--closed .navigation__auth-link,
  .header__navigation--closed .main-menu,
  .header__navigation--closed .user-menu,
  .header__navigation--closed .social {
    display: none;
  }

  .header--js {
    background-color: $blue-dark;
  }

  .header--js .navigation__auth-link {
    display: block;
  }

  .header__container {
    padding-top: 132px;
  }

  .header__navigation {
    padding: 52px 96px 89px;
  }

  .header--opened {
    background-color: $white-basic;
  }

  .header--opened .logo {
    top: 45px;
  }

  .header--scroll {
    background-color: $white-basic;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: $blue-dark-deep;

    &--scroll {
      background-color: $white-basic;
    }
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header__navigation {
    position: relative;
  }

  .header__navigation--closed {
    position: relative;
    display: block;
  }

  .header__navigation--closed .navigation__auth-link {
    display: none;
  }

  .header__navigation--closed .main-menu {
    display: flex;
  }

  .header--scroll .main-menu__link {
    color: $blue-dark-main;
  }

  .header--scroll .main-menu::before {
    background-color: $blue-dark-main;
  }
}
