@media (min-width: $desktop-width) {
  .inner-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .inner-wrapper__catalog {
    flex-basis: 72%;
  }
}
