.intro {
  position: relative;
  background-color: $blue-dark-deep;
  z-index: -1;
}

.intro__title-wrapper {
  position: relative;
  padding-top: 23px;
  padding-bottom: 263px;


  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 569px;
    background-image: url("../img/globe-back-mobile.png");
    background-repeat: no-repeat;
    background-position: left 94px;
    background-size: 100% 100%;
    content: "";
    z-index: 20;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-mobile@2x.png");
    }
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translate(-50%);
    width: 192px;
    height: 255px;
    background-image: url("../img/traveller-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    content: "";
    z-index: 30;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-mobile@2x.png");
    }
  }
}

.intro__title {
  position: relative;
  padding: 0 30px;
  text-align: center;
  line-height: 1.1;
  z-index: 40;
}


.intro__user-menu {
  position: relative;
  margin-top: -22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 40;
}

.intro__blockquote-wrapper {
  padding: 10px;
}

.intro__blockquote {
  padding-right: 35px;
}

.intro__process {
  padding: 0 25px;
  background-image: linear-gradient($blue-dark-deep 25%, $blue-dark-main 25% 100%);
}

@media (min-width: $tablet-width) {
  .intro {
    background-color: $blue-dark;
  }

  .intro__title-wrapper {
    padding-top: 31px;
    padding-bottom: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .intro__blockquote-wrapper {
    position: relative;
    padding: 72px 0 330px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      height: 612px;
      background-image: url("../img/globe-back-tablet.png");
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 100% 100%;
      content: "";
      z-index: 20;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/globe-back-tablet@2x.png");
      }
    }

    &::before {
      position: absolute;
      bottom: 139px;
      left: 61.5%;
      transform: translate(-50%);
      width: 372px;
      height: 451px;
      background-image: url("../img/traveller-tablet.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      content: "";
      z-index: 30;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/traveller-tablet@2x.png");
      }
    }
  }

  .intro__title {
    padding: 0 185px 0;
    line-height: 1.16;
  }

  .intro__blockquote {
    position: relative;
    max-width: 350px;
    padding: 0 30px;
    z-index: 40;
  }

  .intro__process {
    position: relative;
    margin-top: -139px;
    padding: 0 40px;
    background-image: none;
    background-color: transparent;
    z-index: 30;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: static;
    background-color: $blue-dark-deep;
  }

  .intro__container {
    position: relative;
    margin-bottom: -100px;
    padding: 0 33px 224px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      height: 750px;
      background-image: url("../img/globe-back-desktop.png");
      background-repeat: no-repeat;
      background-position: left -100px;
      background-size: 100% 100%;
      content: "";
      display: block;
      z-index: 30;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/globe-back-desktop@2x.png");
      }
    }

    &::before {
      position: absolute;
      bottom: 103px;
      left: 57%;
      transform: translate(-50%);
      width: 431px;
      height: 640px;
      background-image: url("../img/traveller-desktop.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      content: "";
      z-index: 40;
      display: block;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/traveller-desktop@2x.png");
      }
    }
  }

  .intro__title {
    max-width: 600px;
    padding: 0 100px 0 67px;
    text-align: left;
  }

  .intro__blockquote-wrapper {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .intro__blockquote {
    max-width: 270px;
    padding: 0;
    padding-top: 24px;
  }

  .intro__process {
    margin-top: 100px;
    padding: 0;
    z-index: 40;
  }
}
