.progress {
  position: relative;

  &--index {
    width: 60px;
    height: 60px;
  }

  &--catalog {
    width: 46px;
    height: 46px;
  }

  &--form {
    width: 100px;
    height: 100px;
  }
}

.progress__result {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  &--form {
    top: 48%;
  }
}

.progress__result-num {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: $white-basic;

  &--catalog {
    color: $blue-light;
  }

  &--form {
    font-size: 38px;
    color: $blue-dark-deep;
  }
}

.progress__result-note {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $white-basic;

  &::before {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 30px;
    height: 1px;
    background-color: $white-basic;
    opacity: 0.3;
    content: "";
  }

  &--catalog {
    display: none;
  }

  &--form {
    padding-top: 4px;
    font-size: 18px;
    color: $grey-special;

    &::before {
      left: -10px;
      width: 51px;
      background-color: $grey-special;
      opacity: 0.3;
    }
  }
}

.progress__level {
  fill: none;
  stroke: $orange-dark;
  stroke-width: 3px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;

  &--index {
    fill: rgba($black-basic, 0.6);
    stroke-width: 4px;
  }
}

@media (min-width: $tablet-width) {
  .progress {
    &--catalog {
      width: 60px;
      height: 60px;

      svg {
        width: 60px;
        height: 60px;
      }
    }

    &--form {
      width: 95px;
      height: 95px;

      svg {
        width: 95px;
        height: 95px;
      }
    }
  }

  .progress__result-note--catalog {
    display: block;
    color: $black-basic;
    opacity: 0.4;

    &::before {
      background-color: $black-basic;
      opacity: 0.2;
    }
  }
}

@media (min-width: $desktop-width) {
  .progress__result--form {
    top: 55%;
  }

  .progress__result-num--form {
    color: $white-basic;
  }

  .progress__result-note--form {
    color: $white-basic;

    &::before {
      height: 2px;
    }
  }
}
