.steps {
  @include reset-list;
}

.steps__item {
  padding: 23px 25px;
  background-color: $white-basic;
  border-radius: 10px;
}

.steps__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: $blue-btn;
}

.steps__text {
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .steps__item {
    padding: 50px 40px;
  }
}

@media (min-width: $desktop-width) {
  .steps__item {
    padding: 100px 160px;
  }
}
