.traveler-card {
  position: relative;
  max-width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.traveler-card__img {
  width: 270px;
  height: 270px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.traveler-card__img img {
  display: block;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.traveler-card__info {
  position: relative;
  padding: 27px 20px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-basic;
  border-radius: 0 0 10px 10px;
}

.traveler-card__flags {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.traveler-card__flags li:not(:last-child) {
  margin-right: 20px;
}

.traveler-card__flags span,
.traveler-card__transport span {
  display: none;
}

.traveler-card__title {
  max-width: 250px;
  margin-bottom: 15px;
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 1;
  color: $blue-btn;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.traveler-card__hashtags {
  margin-bottom: 7px;
}

.traveler-card__progress {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 60px;
  height: 60px;
}

@media (min-width: $tablet-width) {
  .traveler-card__img {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;
  }

  .traveler-card__img img {
    width: 100%;
  }

  .traveler-card__info {
    padding: 33px 20px 21px;
    border-radius: 0 0 20px 20px;
  }

  .traveler-card__title {
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 1;
  }

  .traveler-card__hashtags {
    margin-bottom: 20px;
  }
}
