.user-menu {
  @include reset-list;
  margin-top: 52px;
  margin-bottom: 40px;
}

.user-menu__link {
  position: relative;
  width: 250px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: $blue-dark-main;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $orange-special;
  }

  &:active svg,
  &:active span {
    opacity: 0.3;
  }

  &::before {
    width: 45px;
    height: 45px;
    background-color: $blue-bg;
    border-radius: 50%;
    content: "";
  }
}

.user-menu__link:hover svg,
.user-menu__link:focus svg {
  fill: $orange-special;
}

.user-menu__link span {
  margin-left: 15px;
}

.user-menu__link svg {
  position: absolute;
  top: 17px;
  left: 14px;
  fill: $yellow-basic;
}

.user-menu__link--phone svg {
  width: 16px;
  height: 14px;
}

.user-menu__link--mail svg {
  width: 18px;
  height: 13px;
}
