.user-menu {
  @include reset-list;
}

.user-menu__link {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: $blue-dark-main;
  text-transform: uppercase;
  outline: none;

  &:hover,
  &:focus {
    color: $orange-special;
  }

  &:active svg,
  &:active span {
    opacity: 0.3;
  }

  &::before {
    width: 45px;
    height: 45px;
    background-color: $blue-bg;
    border-radius: 50%;
    content: "";
  }
}

.user-menu__link--feedback {
  color: $yellow-basic;
}

.user-menu__link:hover svg,
.user-menu__link:focus svg {
  fill: $orange-special;
}

.user-menu__link span {
  margin-left: 15px;
}

.user-menu__link svg {
  position: absolute;
  top: 14px;
  left: 14px;
  fill: $yellow-basic;
}

.user-menu__link--phone svg {
  width: 18px;
  height: 17px;
}

.user-menu__link--mail svg {
  width: 18px;
  height: 13px;
}

@media (min-width: $tablet-width) {
  .user-menu__link {
    font-size: 28px;

    &::before {
      width: 68px;
      height: 68px;
    }
  }

  .user-menu__link span {
    margin-left: 23px;
  }

  .user-menu__link svg {
    top: 22px;
    left: 21px;
  }

  .user-menu__link--phone svg {
    width: 27px;
    height: 26px;
  }

  .user-menu__link--mail svg {
    width: 27px;
    height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .user-menu--feedback {
    .user-menu__link--phone svg {
      top: 23px;
      left: 27px;
      width: 36px;
      height: 34px;
    }

    .user-menu__link--mail svg {
      top: 29px;
      left: 26px;
      width: 36px;
      height: 25px;
    }
  }

  .user-menu__link--feedback {
    &::before {
      width: 90px;
      height: 90px;
    }
  }

  .user-menu__link--feedback span {
    margin-left: 29px;
  }
}
